.carddiv{
    display: flex;
  
    // background-image: linear-gradient(to right, lightblue, blue, lightblue);
    // justify-content: space-around;
    margin-top: 60px;
    justify-content: space-evenly ;
    // width: 100%;
    // height: 100vh;

    flex-wrap: wrap;
    
  // .card{
  
  // border: 1px solid black;
  // margin-bottom: 30px;
//   background-color: honeydew;

  // width: 300px;
  // height: 350px;
//   background-color: lightgray;
  // display: flex;
//   justify-content: center;
//   padding: 15px;
//   box-sizing: border-box;
//   align-items: center;
//   flex-direction: column;
//     .imagess {
//         width: 200px;
//         height: 200px;
//         display: flex;
//         padding: 10px;
//         justify-content: center;
//          img {
//              height: 100%;
//          }
//     }

//     .price{
//         width: 100%;
//         background-color: grey;
//         box-sizing: border-box;
//         padding: 10px;
//         margin-bottom: 10px;
//         p{
//             margin: 0;
//         }
//     }
//     .discription{
//         text-overflow: ellipsis;
//         background-color: grey;
//         overflow: hidden;
//         box-sizing: border-box;
//         width: 100%;   
//         padding: 5px; 
//         span{
//             white-space: nowrap;
//             padding: 5px;
//         }
//     }
// }
// }
}